<li><%= link_to "pages"%></li>
<ul><%= link_to "Games", admin_basic_games_path%></ul>
<ul><%= link_to "Country", admin_basic_countries_path%></ul>
<ul><%= link_to "State", admin_basic_states_path%></ul>
<ul><%= link_to "City", admin_basic_cities_path %></ul>
<ul><%= link_to "Account Type", admin_basic_account_types_path%></ul>
<ul><%= link_to "Plans", admin_basic_plans_path%></ul>
<ul><%= link_to "payment",payments_payment_charge_path%>
